.container {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 50px;
  border-bottom: solid 1px rgb(157, 157, 157);
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  transition: 350ms;
  cursor: pointer;
}

.container:hover {
  background-color: rgb(245, 245, 245);
}

.logoContainer {
  margin-left: 15px;
  margin-top: 5px;
}

.label {
  font-family: var(--fontAccent);
  margin-left: 20px;
}
