.filterContainer {
  position: fixed;
  /* top: 100%; */
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  font-family: var(--fontAccent);
  /* transition: 350ms ease-in-out; */
  display: flex;
  z-index: 101;
}

.filterBox {
  height: 300px;
  width: 250px;
  background-color: rgb(240, 240, 240);
  border-radius: 20px;
  display: inline;
  box-sizing: border-box;
  padding: 5px;
  box-shadow: 0px 0px 5px 1px;
}

.filterLabel {
  width: fit-content;
  margin-left: 35px;
}

.filterInput {
  width: 170px;
  height: 20px;
  margin: auto;
  border-radius: 5px;
  border: solid 1px black;
  transition: 100ms;
  padding: 5px;
  padding-left: 3px;
}
.filterInput:focus {
  border: solid 1px var(--colorAccent);
  box-shadow: 0px 0px 12px 1px #c1c1c1;
}

.filterInputContainer {
  margin: auto;
  width: fit-content;
  margin-bottom: 10px;
}

.filterApplyButton {
  width: fit-content;
  padding-left: 7px;
  padding-right: 7px;
  margin: 0;
}
.examinationInput,
.subjectInput,
.yearInput {
  height: 28px;
}
.buttonContainers {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.filterCancelButton {
  color: black;
  background-color: #c1c1c1;
}
.filterCancelButton:hover {
  background-color: #e8e8e8;
}

.filterCancelButton,
.filterApplyButton {
  width: 70px;
}
