.leftSide,
.rightSide {
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
}

.rightSide {
  margin-left: 0;
  margin-right: 20px;
  transition: 250ms ease-out;
}

.navbar {
  padding: 0;
  margin: 0;
  position: sticky;
  top: 0px;
  height: 55px;
  background-color: var(--colorAccent);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  z-index: 100;
}

.searchBoxAndFilterContainer {
  width: 550px;
  height: 40px;
  border-radius: 10px;
  overflow: hidden;
  transition: 100ms ease-in-out;
  display: flex;
  flex-direction: row;
  box-shadow: none;
  background-color: white;
  padding-right: 8px;
  column-gap: 8px;
}

.searchBox {
  border: none;
  width: 100%;
  height: 100%;
  padding-left: 10px;
  font-size: 20px;
  background-color: white;
  outline: none;
  box-shadow: none;
  appearance: none;
  -webkit-appearance: none;
}

.searchBoxAndFilterContainer:focus-within {
  box-shadow: none;
}

.funnelIcon {
  width: 30px;
  padding-right: 10px;
  background-color: white;
  cursor: pointer;
  transition: 100ms ease-in;
  color: var(--colorAccent);
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-family: "Maven Pro", sans-serif;
  font-size: 30px;
  color: white;
}

.rightSide > ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  gap: 10px;
  box-sizing: border-box;
  margin-left: 10px;
}

.rightSide li {
  font-family: var(--fontAccent);
  font-size: 20px;
  color: white;
  cursor: pointer;
}

.burgerContainer {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
  height: fit-content;
  margin-right: 8px;
  cursor: pointer;
}

.closeNavButton {
  display: none;
  text-decoration: underline;
}

.autocompleteContainer {
  background-color: white;
  width: 550px;
  height: 80px;
  box-shadow: 0px 0px 7px 1px #c1c1c1;
  border-radius: 15px;
  z-index: 120;
  top: 50px;
  left: 405px;
  transform: translate(-50%, 0);
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
}

.autocompleteLi {
  line-height: 110%;
  font-family: var(--fontAccent);
  text-align: left;
  width: 100%;
  height: 40px;
  padding: 2px 5px 2px 10px;
  cursor: pointer;
}

.loaderContainer {
  width: fit-content;
  height: 100%;
  display: flex;
  justify-content: center;
  align-self: center;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  border: 3px solid var(--colorAccent);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--colorAccent) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1200px) {
  .autocompleteContainer {
    width: 88.5%;
    left: 45.9%;
  }

  .title {
    display: none;
  }
  .leftSide {
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
  }
  .searchBoxAndFilterContainer {
    width: 100%;
  }
  .rightSide {
    position: fixed;
    top: 100%;
    left: 0;
    margin-right: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--colorAccent);
  }
  .rightSide ul {
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .burgerContainer {
    display: flex;
  }
  .closeNavButton {
    display: block;
  }
}
