.navbar {
  padding: 0;
  margin: 0;
  height: 55px;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  padding-left: 20px;
  box-shadow: 0px 0px 5px 1px rgb(225, 225, 225);
}

.navbar > ul {
  right: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  column-gap: 25px;
  row-gap: 10px;
  box-sizing: border-box;
  margin-right: 20px;
}

.navbarUl > li {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 17px;
  letter-spacing: -1px;
  font-weight: 400;
  color: rgb(55 65 81);
  cursor: pointer;
  transition: 300ms ease-in-out;
  padding: 5px;
  border-radius: 5px;
  margin: 0;
}

.navbarUl > li:hover {
  background-color: rgb(241, 241, 241);
  box-shadow: 0px 0px 2px 1px rgb(219, 219, 219);
}

.tabIcons {
  width: fit-content;
  height: fit-content;
  align-items: center;
  justify-content: center;
  display: none;
}

.tabLink {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.title {
  font-family: var(--titleFont);
  font-size: 35px;
  color: black;
  font-weight: 600;
}
.burger {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 40px;
  gap: 7px;
  height: fit-content;
  cursor: pointer;
  margin-right: 20px;
}

.burgerLines {
  background-color: var(--colorAccent);
  width: 100%;
  height: 4px;
  border-radius: 3px;
}

.close {
  display: none;
}

@media screen and (max-width: 768px) {
  .navbar > ul {
    top: 0;
    position: fixed;
    right: 100%;
    width: 60vw;
    height: 100vh;
    z-index: 110;
    background-color: white;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-right: 0;
    box-sizing: border-box;
    border-right: solid 1px rgb(225, 225, 225);
    padding-top: 20px;
  }

  .navbarUl > li {
    margin-left: 30px;
    gap: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: fit-content;
    border-radius: 8px;
    padding: 5px;
    transition: 150ms ease-in-out;
  }

  /* .navbarUl > li:hover {
    background-color: var(--colorAccentHover);
  } */

  .tabIcons {
    display: flex;
  }

  .burger {
    display: flex;
  }
  .close {
    text-decoration: underline;
    display: block;
  }
}
