.container {
  width: 100%;
  height: 100%;
  /* overflow: auto; */
  background-color: var(--bodyColor);
  /* background-color: white; */
  /* border-top: solid 2px rgb(184, 184, 184); */
}

.documentContainer {
  width: 100%;
  height: calc(100% - 50px);
  /* height: 100%; */
  overflow: auto;
  position: relative;
}

.papursToolbar {
  width: 100%;
  height: 45px;
  /* background-color: #eee; */
  background-color: white;
  /* border-bottom: solid 2px #eee; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: fixed; */
  z-index: 1000;
  border: none;
  /* padding: 10px; */
  transform-origin: center;
  border: solid 1px rgb(0, 0, 0, 0.1);
}

.zoomBar {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  border-top: none;
}

.viewerTitle {
  font-family: var(--titleFont);
  color: var(--colorAccent);
  font-size: 25px;
}

.zoom {
  /* background-color: aquamarine; */
  border-radius: 15px;
  height: 35px;
  width: 35px;
  cursor: pointer;
  transition: 200ms ease-in-out;
}

.zoom:hover,
.zoom:active {
  background-color: var(--bodyColor);
}

.inputZoom,
.pageNumberInput {
  height: 30px;
  width: 50px;
  text-align: center;
  background-color: rgb(243, 243, 243);
  border-radius: 7px;
  border: solid 2px var(--colorAccent);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
}

.pageNumberInput {
  width: 30px;
}

.inputZoom,
.zoom {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 60px;
  margin-top: 200px;
  margin-bottom: 10px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 60px;
  height: 60px;
  border: 6px solid var(--colorAccent);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--colorAccent) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
