.resultBox {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  min-height: 180px;
  height: fit-content;
  width: 500px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  box-shadow: 0px 0px 5px 1px #c1c1c1;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 8px;
  font-family: var(--fontAccent);
  justify-content: space-evenly;
  align-items: center;
}

.resultTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  gap: 5px;
  font-size: 25px;
}
.resultTitleIcon {
  width: 22px;
}

.resultRedirects {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
  overflow: hidden;
}

.linkRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4px;
  box-sizing: border-box;
  background-color: var(--colorAccent);
  box-sizing: border-box;
  padding: 5px;
  color: whitesmoke;
  transition: 125ms ease-in-out;
}

.linkMark {
  background-color: rgb(212, 212, 212);
  color: black;
}

.linkSeperator {
  height: 100%;
  width: 1px;
  height: 35px;
  background-color: white;
}

.linkRow:hover,
.linkRow:active {
  background-color: var(--colorAccentHover);
}

.linkMark:hover,
.linkMark:active {
  background-color: rgb(227, 227, 227);
}

.linkIcon {
  width: 25px;
}

.noResults {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  font-family: var(--fontAccent);
  text-align: center;
  z-index: 10;
}

.resultText {
  /* color: #787878; */
  color: black;
  box-sizing: border-box;
  padding: 5px;
  text-align: left;
}

.noResultText {
  color: #787878;
  font-size: 10px;
  font-style: italic;
  text-align: left;
  padding: 3px;
}

.adsContainer {
  height: 130px;
  width: 500px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media screen and (max-width: 800px) {
  .resultBox {
    width: 100%;
    border-radius: 0;
  }
  .adsContainer {
    width: 100%;
  }
}
