.title {
  padding: 0;
  width: fit-content;
  margin: auto;
  margin-top: 10px;
  font-family: var(--titleFont);
}
.h1Container {
  margin: auto;
}
.paragraph {
  text-align: justify;
  font-family: var(--fontAccent);
  font-size: 17px;
  padding: 0px 7px 0px 7px;
}