.title {
  padding: 0;
  width: fit-content;
  margin: auto;
  margin-top: 10px;
  font-family: var(--titleFont);
}
.h1Container {
  margin: auto;
}
.paragraph {
  text-align: justify;
  /* font-family: var(--fontAccent); */
  font-family: var(--tailwindFont);
  font-size: 17px;
  padding: 0px 7px 0px 7px;
}

.subtitle {
  padding: 7px;
  padding-bottom: 0;
  width: fit-content;
  margin: 0;
  margin-top: 10px;
  font-size: 25px;
  font-family: var(--tailwindFont);
}

.section {
  height: 100%;
  width: 100%;
  padding: 15px;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
