:root {
  --colorAccent: #6d28d9;
  --colorAccentHover: #9158ec;
  --fontAccent: "Noto Sans", sans-serif;
  --titleFont: "Maven Pro", sans-serif;
  --bodyColor: rgb(245 245 245);
}

* {
  box-sizing: border-box;
}

h1 {
  width: fit-content;
  margin: auto;
  font-family: var(--titleFont);
}

body {
  background-color: rgb(245 245 245);
  height: 100vh;
  width: 100vw;
  margin: 0;
  display: inline;
}

.main {
  height: 100%;
  width: 100%;
  display: inline;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  overflow: auto;
}

a {
  text-decoration: none;
  color: currentColor;
}

input {
  outline: none;
  appearance: none;
  border: none;
  -webkit-appearance: none;
}

.papursButton {
  background-color: var(--colorAccent);
  border-radius: 10px;
  font-family: var(--fontAccent);
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  transition: 150ms ease-in-out;
  cursor: pointer;
}

.papursButton:hover {
  background-color: var(--colorAccentHover);
}

.divMargin {
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.divMarginNoFlex {
  margin: auto;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
}
