.searchBoxAndFilterContainer {
  width: 550px;
  height: 40px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 0px 2px 1px #c1c1c1;
  transition: 100ms ease-in-out;
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: white;
}

.searchBox {
  -webkit-appearance: none;
  border: none;
  width: 100%;
  height: 100%;
  padding-left: 10px;
  font-size: 20px;
  background-color: white;
  outline: none;
}

.searchBoxAndFilterContainer:focus-within {
  box-shadow: 0px 0px 12px 1px #c1c1c1;
}

.papursTitle {
  width: 100%;
  text-align: center;
  font-family: "Maven Pro", sans-serif;
  font-size: 40px;
  margin: 0;
}

.inputContainer {
  padding-top: 20px;
  width: 100%;
  min-width: 300px;
  row-gap: 40px;
}

.funnelIcon {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  width: 30px;
  padding-right: 10px;
  background-color: white;
  cursor: pointer;
  transition: 100ms ease-in;
  color: var(--colorAccent);
}

.funnelIcon:hover,
.funnelIcon:active {
  transform: scale(1.1);
}

.searchButton {
  border-radius: 20px;
  outline: none;
  border: none;
  width: 70px;
  height: 30px;
  cursor: pointer;
  background-color: var(--colorAccent);
  color: white;
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  transition: 200ms ease-in-out;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  margin-bottom: 20px;
  /* margin-left: 10px; */
}

.searchButton:hover {
  background-color: var(--colorAccentHover);
}

.navbarHome {
  position: sticky;
  height: 55px;
  width: 100vw;
  background-color: var(--colorAccent);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}
.adsContainer {
  margin: auto;
  width: 100%;
  height: fit-content;
}

.howToUseBox {
  display: flex;
  margin: auto;
  flex-direction: column;
  margin-top: 20px;
  width: 550px;
  border-radius: 15px;
  background-color: white;
  height: fit-content;
  font-family: var(--tailwindFont);
  padding: 5px;
}

.howToUseBox > h2 {
  padding: 0;
  margin: 0;
  margin: auto;
  width: fit-content;
  max-width: 100%;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
}

.filterIconContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 10px;
  /* height: 100%; */
  /* width: fit-content; */
}

.autocompleteContainer {
  background-color: white;
  width: 550px;
  box-shadow: 0px 0px 2px 1px #c1c1c1;
  border-radius: 7px;
  z-index: 50;
  top: 210px;
  left: 50%;
  transform: translate(-50%, 0);
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow: auto;
}

.autocompleteLi {
  line-height: 115%;
  font-size: 18px;
  font-weight: 400;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  text-align: left;
  width: 100%;
  padding: 5px 5px 5px 10px;
  cursor: pointer;
}

.homeHrefBox {
  margin-top: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.aboutHref {
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 0px 5px 1px whitesmoke;
  padding: 5px;
  font-family: var(--fontAccent);
  transition: 300ms ease-in-out;
}

.aboutHref:hover {
  background-color: rgb(226, 226, 226);
}

.instaLogo {
  transition: 150ms ease-out;
}
.instaLogo:hover {
  transform: scale(1.1);
}

.loaderContainer {
  width: fit-content;
  height: 100%;
  margin-left: 5px;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-self: center;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  border: 3px solid var(--colorAccent);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--colorAccent) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 600px) {
  .autocompleteContainer {
    width: 95.5%;
    top: 215px;
  }
  .searchBoxAndFilterContainer {
    width: 100%;
  }
  .inputContainer {
    box-sizing: border-box;
    padding: 10px;
  }
  .papursTitle {
    margin-top: 20px;
  }
  .howToUseBox {
    width: 100%;
  }
}
