.searchBoxAndFilterContainer {
  width: 550px;
  height: 40px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 0px 2px 1px #c1c1c1;
  transition: 100ms ease-in-out;
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: white;
}

.searchBox {
  -webkit-appearance: none;
  border: none;
  width: 100%;
  height: 100%;
  padding-left: 10px;
  font-size: 20px;
  background-color: white;
  outline: none;
}

.searchBoxAndFilterContainer:focus-within {
  box-shadow: 0px 0px 12px 1px #c1c1c1;
}

.papursTitle {
  width: 100%;
  text-align: center;
  font-family: "Maven Pro", sans-serif;
  font-size: 40px;
  margin: 0;
}

.inputContainer {
  padding-top: 20px;
  width: 100%;
  min-width: 300px;
  row-gap: 40px;
}

.funnelIcon {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  width: 30px;
  padding-right: 10px;
  background-color: white;
  cursor: pointer;
  transition: 100ms ease-in;
  color: var(--colorAccent);
}

.funnelIcon:hover,
.funnelIcon:active {
  transform: scale(1.1);
}

.searchButton {
  border-radius: 20px;
  outline: none;
  border: none;
  width: 70px;
  height: 30px;
  cursor: pointer;
  background-color: var(--colorAccent);
  color: white;
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  transition: 200ms ease-in-out;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  /* margin-left: 10px; */
}

.searchButton:hover {
  background-color: var(--colorAccentHover);
}

.navbarHome {
  position: sticky;
  height: 55px;
  width: 100vw;
  background-color: var(--colorAccent);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}
.adsContainer {
  margin: auto;
  width: 100%;
  height: fit-content;
}

.howToUseBox {
  display: flex;
  margin: auto;
  flex-direction: column;
  margin-top: 20px;
  width: 550px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 0px 2px 1px #c1c1c1;
  height: fit-content;
  font-family: var(--fontAccent);
  padding: 5px;
}

.howToUseBox > h2 {
  padding: 0;
  margin: 0;
  margin: auto;
  width: fit-content;
  max-width: 100%;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.filterIconContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 10px;
  /* height: 100%; */
  /* width: fit-content; */
}

.autocompleteContainer {
  background-color: white;
  width: 550px;
  /* height: fit-content; */
  box-shadow: 0px 0px 2px 1px #c1c1c1;
  border-radius: 15px;
  z-index: 50;
  top: 210px;
  left: 50%;
  transform: translate(-50%, 0);
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
}

.autocompleteLi {
  line-height: 110%;
  font-family: var(--fontAccent);
  text-align: left;
  width: 100%;
  height: 40px;
  padding: 2px 5px 2px 10px;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .autocompleteContainer {
    width: 95.5%;
    top: 215px;
  }
  .searchBoxAndFilterContainer {
    width: 100%;
  }
  .inputContainer {
    box-sizing: border-box;
    padding: 10px;
  }
  .papursTitle {
    margin-top: 20px;
  }
  .howToUseBox {
    width: 100%;
  }
}
