.parentContainer {
  margin: auto;
  width: 500px;
  height: fit-content;
}

.inputBar {
  width: 90%;
  margin: auto;
  margin-top: 20px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  overflow: hidden;
  border: solid 1px rgb(204, 204, 204);
}

.inputStyle {
  width: calc(100% - 70px);
  height: 30px;
  margin: auto;
  border: none;
  transition: 200ms;
  padding: 5px;
  outline: none;
  padding-left: 4px;
  appearance: none;
}

.label {
  min-width: 70px;
  width: fit-content;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--colorAccent);
  color: white;
}

.yearLabel {
  min-width: 80px;
}

.showerBox {
  width: 90%;
  margin: auto;
  margin-top: 20px;
  height: 250px;
  border-radius: 10px;
  overflow: hidden;
  overflow-y: auto;
  background-color: white;
  border: solid 1px rgb(204, 204, 204);
}

.showerBar {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  width: 100%;
  background-color: white;
  border-bottom: solid 1px rgb(204, 204, 204);
}

.showerTitle {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.deleteBox {
  cursor: pointer;
  transition: 100ms;
}

.deleteBox:hover {
  opacity: 0.7;
}

.downloadModalWindow {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgb(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.downloadModalBody {
  background-color: #f8fafc;
  border-radius: 20px;
  width: 350px;
  height: 250px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.downloadTip {
  color: black;
  width: 100%;
  font-size: 10px;
  padding: 5px;
  font-style: italic;
}

.downloadModalTitle {
  font-size: 18px;
  font-weight: bold;
}

.downloadingBar {
  width: 75%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.downloadInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  text-align: center;
}

.percentageIndicator {
  width: 5px;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.howTo {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0, 0.5);
}

.modalCon {
  width: 400px;
  min-height: 300px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 15px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.modalTitle {
  font-size: 21px;
  font-weight: 500;
  padding-right: 20px;
  padding-left: 20px;
}

.modalDescription {
  font-size: 15px;
  padding-right: 20px;
  padding-left: 20px;
}

@media screen and (max-width: 800px) {
  .parentContainer {
    width: 100%;
    border-radius: 0;
  }
}
