.subtitle {
  font-family: var(--titleFont);
  margin: 0;
  padding: 0;
  width: fit-content;
  margin: auto;
  margin-top: 30px;
  font-size: 20px;
}

.inputRow {
  display: flex;
  flex-direction: row;
  gap: 0;
  margin-top: 20px;
  overflow: hidden;
  border-radius: 10px;
  border: solid 1px rgb(204, 204, 204);
  height: 35px;
}

.paragraph {
  margin: auto;
  margin-top: 20px;
  max-width: 400px;
  font-family: var(--fontAccent);
  text-align: justify;
  padding: 5px;
}

.papursButton {
  width: 180px;
  margin: auto;
}

.filterLabel {
  font-family: var(--tailwindFont);
  font-size: 17px;
  width: 80px;
  display: flex;
  align-items: center;
  background-color: var(--colorAccent);
  justify-content: center;
  color: whitesmoke;
}

.filterInput {
  width: 250px;
  height: 100%;
  margin: auto;
  border: 0;
  border-left: solid 1px rgb(204, 204, 204);
  transition: 200ms;
  padding: 5px;
  padding-left: 3px;
  appearance: none;
  outline: none;
}

.inputRow:focus-within {
  border: solid 1px var(--colorAccent);
  box-shadow: 0px 0px 8px 1px #c1c1c1;
}

/* .filterInput:focus > .inputRow {
  border: solid 1px var(--colorAccent);
  box-shadow: 0px 0px 8px 1px #c1c1c1;
} */

.filterContainer {
  width: fit-content;
  margin: auto;
  margin-top: 30px;
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
  gap: 5px;
}

.goButton {
  width: 120px;
}
