/* html {
  height: 100vh;
  overflow: hidden;
} */
.pdfContainer {
  height: calc(100% - 52px);
  margin: 0;
  padding: 0;
  border: 0;
  width: 100vw;
  margin: auto;
}
.main {
  height: 100%;
}
.warnBox {
  position: absolute;
  left: 0;
  top: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.warnMessage {
  padding: 5px;
  font-family: var(--fontAccent);
}

.downloadButton {
  width: 50px;
  height: 50px;
  background-color: var(--colorAccent);
  position: absolute;
  left: 0;
  top: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 0px 10px 10px 0px;
  box-shadow: 0px 0px 12px 2px #505050;
}
