/* html {
  height: 100vh;
  overflow: hidden;
} */
.pdfContainer {
  height: calc(100% - 52px);
  margin: 0;
  padding: 0;
  border: 0;
  width: 100vw;
  margin: auto;
}
.main {
  height: 100%;
}
.warnBox {
  position: absolute;
  left: 0;
  top: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.warnMessage {
  padding: 5px;
  font-family: var(--fontAccent);
}

.downloadButton {
  width: 46px;
  height: 100%;
  background-color: var(--colorAccent);
  /* position: absolute; */
  left: 0;
  top: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 0px 0px 0px 0px;
  z-index: 1000;
}

.toolbarBox {
  height: 40px;
  width: 200px;
  border-radius: 200px;
  background-color: var(--colorAccent);
  box-shadow: 0px 0px 5px 3px #c1c1c1;
  position: absolute;
  /* bottom: 40px; */
  left: 0;
  right: 0;
  margin: auto;
  z-index: 50;
  display: flex;
  flex-direction: row;
  font-family: var(--fontAccent);
  padding: 10px;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.iconBox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.switchContainer {
  margin: 0;
  margin-top: 2px;
  padding: 0;
  border: 0;
}

.progressBarContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
  width: 300px;
  margin: auto;
  margin-top: 150px;
}

.percentIndicator {
  font-family: var(--fontAccent);
  font-size: 20px;
  margin-top: 10px;
}
